*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #1e293b;
    height: 100vh;
    overflow: hidden; /* evita el scroll */
}

/*========================== HEADER ==========================*/

header {
    background: #00a79e;
    color: white;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    gap: 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-nombre {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url("../IMAGENES/logoProfisika.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo-profisika{
    width: 260px;
    height: 90px;
    background-image: url("../IMAGENES/ImagenProfisika.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.titulo p {
    font-size: 17px;
    opacity: 0.9;
    padding-left: 3px;
}

.bloqueLinks{
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.links{
    display: flex;
    background-color: rgb(238, 238, 238);
    width: 180px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 19px;
    border: none;
    transition: background-color 0.2s, color 0.2s;
}
.links:hover:not(.this){
    background-color: #bebebe;
}

.this{
    background-color: #006661;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(199, 199, 199, 0.945);
}

/*========================== CONTENIDO ==========================*/

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding-top: 110px;
    padding-bottom: 80px; 
}

.panel {
    background: white;
    width: 550px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.encabezado {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icono {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.azul {
    background: #bed4ff;
}

.verde {
    background: #9dfd90;
}

/*========================== TEXTAREA Y PRE ==========================*/

textarea, pre {
    width: 100%;
    height: 320px;
    padding: 20px;
    resize: none;
    border: 1px solid #a3a3a3;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 10px;
}

#resultado {
    font-family: Arial, sans-serif;
    font-size: 12px;
    white-space: pre-wrap;
    font-weight: bold;
    overflow-y: auto;
}

/*========================== BOTONES ==========================*/

button {
    border: none;
    border-radius: 12px;
    padding: 15px 0px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    width: 300px;
    margin: auto;
}

.boton-azul {
    background: #0059df;
    color: rgb(243, 249, 255);
    padding: 15px 0px;
}

.emoji-redondo{
    display: inline-block;
    transition: transform 0.4s;
}
.boton-azul:hover .emoji-redondo{
    transform: rotate(350deg);
}

.boton-azul:hover {
    background: #00255c;
    box-shadow: 0 0 10px 5px rgba(53, 53, 53, 0.651);
}

.boton-verde {
    background: #00a85f;
    color: rgb(245, 255, 245);
    padding: 15px 0px;
    transition: transform 0.2s ease;
}

.boton-verde:hover:not(.copiado) {
    background: #005f36;
    color: rgb(223, 253, 240);
    box-shadow: 0 0 10px 5px rgba(53, 53, 53, 0.651);
}

.boton-verde.copiado {
    transform: scale(1.08);
}

/*========================== FLECHA ==========================*/

.flecha {
    font-size: 55px;
    color: #0d5dd8;
}

/*========================== FOOTER ==========================*/

footer {
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    background-color: rgb(90, 90, 90);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*========================== RESPONSIVE ==========================*/

@media (max-width: 1450px) {
    header {
        height: 90px;
    }
    .logo-nombre {
        gap: 10px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .titulo-profisika{
        height: 75px;
    }
    .titulo h1 {
        font-size: 30px;
        margin-bottom: 7px;
    }
    .titulo p {
        font-size: 14px;
    }
    .bloqueLinks{
        gap: 13px;
    }
}

@media (max-width: 1350px) {
    header {
        gap: 40px;
    }
    .titulo-profisika{
        width: 260px;
    }
    .titulo h1 {
        font-size: 27px;
    }
    .titulo p {
        font-size: 13px;
    }
    .links{
        width: 170px;
        font-size: 16px;
    }
    .flecha {
        font-size: 50px;
    }
}

@media (max-width: 1250px) {
    header {
        gap: 30px;
    }
    .titulo-profisika{
        width: 210px;
    }
    .titulo h1 {
        font-size: 24px;
    }
    .titulo p {
        font-size: 13px;
    }
    .bloqueLinks{
        gap: 9px;
    }
    .links{
        width: 140px;
        font-size: 14px;
    }
    .flecha {
        font-size: 45px;
    }
}

@media (max-width: 1150px) {
    header {
        gap: 20px;
    }
    .titulo-profisika{
        width: 190px;
    }
    .titulo h1 {
        font-size: 23px;
    }
    .titulo p {
        font-size: 13px;
    }
    .bloqueLinks{
        gap: 7px;
    }
    .links{
        width: 130px;
        font-size: 13px;
        height: 50px;
    }
    .flecha {
        font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    .subtitulo-panel{
        font-size: 13px;
    }
}

@media (max-height: 700px) {
    textarea, pre{
        height: 260px;
    }
}
@media (max-height: 650px) {
    textarea, pre{
        height: 210px;
    }
    button{
        font-size: 17px;
        width: 250px;
    }
}
@media (max-height: 600px) {
    textarea, pre{
        height: 160px;
    }
}
@media (max-height: 550px) {
    textarea, pre{
        height: 100px;
    }
}